<div class="bg-indigo-500 my-24 rounded-2xl relative">
    <div class="justify-end flex h-96 w-full">
        <img src="../../../../assets/creator-card.png" class="w-auto h-full" alt="">
    </div>

    <div class="absolute top-0 h-full w-96 flex items-center justify-center flex-col ml-16">
        <div class="text-xl text-white lg:text-5xl dark:text-black">Become a creator</div>
        <div class="ml-2 mt-4 text-base text-white lg:text-lg dark:text-black">Submit your workflow to the our gallery,
            get featured and closer to users and customers.
        </div>
        <button type="button" class="self-start py-2.5 mb-2 mt-12 w-6/12 text-sm font-medium
        text-white focus:outline-none bg-gray-800 
        rounded-full border border-gray-600 hover:bg-gray-700
         hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-700
          dark:focus:ring-gray-100 dark:bg-purple-100 dark:text-indigo-600
           dark:border-gray-200 dark:hover:text-blue-700 dark:hover:bg-gray-100">
            Submit a workflow
        </button>
    </div>
</div>