.accordion-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
}
  
.accordion-content {
    padding: 10px;
}
  
.accordion-content p {
    margin: 0;
}

