<div
  class="block max-w-sm w-11/12 p-6 pb-0 h-[40vh] bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 relative">
  <h5 class="text-xl font-bold text-gray-700 dark:text-white">{{ text }}</h5>
  <h3 class="text-md text-gray-400 dark:text-white">{{subText}}</h3>
  <button data-modal-target="static-modal" data-modal-toggle="static-modal" class="h-[30vh] bottom-0 absolute">
    <div class="bg-gray-50 rounded-t-xl z-10 top-16 right-0 absolute h-[78%] w-3/4 m-0 md:m-4 2xl:m-0">
      &nbsp;
    </div>
    <img [src]="imageSrc" class="z-20 w-full h-full bottom-0 rounded-lg relative">
  </button>
</div>


<!-- Main modal -->
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-[80vw] max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="grid  grid-cols-2 gap-4 h-[80vh]">
        <div class="col-span-1">sa</div>
        <div class="col-span-1">
          <div class=" flex justify-end p-4">
            <button type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="static-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>