<div class="mt-16 max-w-screen-2xl mx-auto p-4">
    <div class="flex flex-wrap items-center justify-between">
        <app-header class="mt-12" [headerText]="'Discover digital instructions market'"
            [subHeaderText]="'Workflows that work well. Curated by community from different industries to cover all areas of your work.'"></app-header>
    </div>
    <div class="flex  items-center justify-between mt-4">
        <app-search-bar></app-search-bar>
        <div>
            <form class="max-w-md mx-auto">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search" [(ngModel)]="searchTerm" name="searchTerm"
                    class="block w-full p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search across companies, names and categories" required />
                </div>
            </form>
        </div>
    </div>


    <app-sub-header [categoryId]="1" [subHeaderText]="'Latest workflows'" [subHeaderCount]="1000"></app-sub-header>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <ng-container *ngFor="let card of workFlowCards; let i = index">
            <div class="col-span-1" *ngIf="card.text.toLowerCase().includes(searchTerm.toLowerCase())">
                <app-workflow-card
                [text]="card.text"
                [subText]="card.subText"
                [imageSrc]="card.imageSrc"
                [index]="i"
                [parent]="this"
                [category]="card.category"
              ></app-workflow-card>
            </div>
        </ng-container>
    </div>

    <app-sub-header  [subHeaderText]="'Featured creators'" [subHeaderCount]="1000"></app-sub-header>

    <div class="grid grid-cols-1 lg:grid-cols-8 gap-8 mb-24">
        <div class="col-span-1 lg:col-span-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div class="col-span-1" *ngFor="let item of FeaturedData">
                <app-feature-card [title]="item.title" [subtitle]="item.subtitle"
                    [imgSrc]="item.imgSrc"></app-feature-card>
            </div>
        </div>
        <div class="col-span-1 lg:col-span-2">
            <div
                class="relative max-w-sm p-6  lg:h-full h-64 bg-indigo-50 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 ">
                <h5 class="text-xl font-bold text-indigo-700 dark:text-white">Become a creator</h5>
                <h3 class="mb-2 text-md text-indigo-400 dark:text-white">Submit your workflow to the our gallery, get
                    featured and closer to users and customers.</h3>
                <button type="button" class="py-2.5 mb-2 bottom-2 absolute w-10/12 text-sm font-medium
          text-indigo-600 focus:outline-none bg-purple-100 
          rounded-xl border border-gray-200 hover:bg-gray-100
           hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100
            dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400
             dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Submit a workflow
                </button>
            </div>
        </div>
    </div>

</div>